:root
{
    --moss-color:  #5E6A4B;
    --sage-color:  #A1A491;
    --sand-color:  #D6BF99;
    --mud-color:   #987955;
    --river-color: #003366;
    --default-color: #616161;
    --body-color: #e2d6ca;
}

@font-face {
    font-family: Geo;
    src: url(Fonts/GeosansLight.ttf);
}

@font-face {
    font-family: Road;
    src: url(Fonts/Roadgeek\ 2005\ Series\ 1B\ Regular.ttf);
}
*{
  box-sizing: border-box;
  list-style: 1.15;
}
img.fall
{
    width:100%;
    display:block;
    object-fit: cover;
    object-position: 50% 70%;
}

img.svg
{   
    display:block;
}

.hero 
{
  position: relative;
}
img.logo{
  display: inline-block;
  position: absolute;
  left: 2.5rem;
  bottom: 1rem;
  height: 50%;
  width: auto;
}
.est{
  margin-left: 5rem;
}

h2 
{
    font-weight:bold; 
    color:var(--sage-color); 
    font-size: 30px; 
    font-family: Road;
    line-height: 50%;
}

h3 
{
    color:var(--sage-color); 
    font-size: 20px; 
    font-family: Geo;
}

h4 
{
    color: var(--river-color); 
    font-size: 48px; 
    font-family: Road;
    margin: 0
}

h5 
{
    color: var(--moss-color); 
    font-size: 20px; 
    font-family: Geo;
}

body
{
    background-color:var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: left;
}

main
{
    align-self: center;
    padding: 0 1rem;
    max-width: 90%;
}
section
{
    align-self: center;
}
.svg{
  display: flex;
  align-self: center;
  align-items: center;
  justify-items: center;
  max-width: 15rem;
  padding: 5rem 0;
}
footer{
  margin-top: 1rem;
  padding: 2rem;
  font-size: 1rem;
  font-family: Geo;
  color: #111;
  background-color: var(--sand-color);
  border-top: 2px solid var(--mud-color);
}
.about
{ 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  flex-wrap: nowrap;
  padding: 5rem;
}
.about .text{
  flex: 0 1 600px;
  align-self: baseline;
}
.about img {
  flex: 1 1 400px;
  width: 42vw;
  height: 70vh;
  aspect-ratio: 1/3;
  overflow: hidden;
  object-fit: cover;
}
main.about{
  display: flex;
  flex-direction: column;
  align-items: left;
}
main.about div,
main.about article,
main.about .btnwrap{
  width: 90%;
}

main.about h1
{
    color: var(--river-color); 
    font-size: 48px; 
    font-family: Road;
}

main p 
{
    font-size: 18px; 
    font-family: Geo;
    color: var(--default-color);
    line-height: 1.5;
}
section p 
{
    font-size: 18px; 
    font-family: Geo;
    color: var(--default-color);
    line-height: 1.5;
}

.faqs-title {
  width: 100%;
  background-color: var(--river-color);
  font-family: Road;
  font-size: 4rem;
  color: white;
  text-align: center;
  padding: 2rem;
}

.faqs {
  justify-self: baseline;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 3rem;
  margin-bottom: 5rem;
  align-items:flex-start;
  flex-wrap: nowrap;
}
.btn 
{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 24px;
    padding: 8px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 500ms ease;
    color: white;
    text-decoration: none;
}
.btn:hover 
{
    background-color: #ffffff60;
    border-color: #fff0;
    transform: scale(1.01);
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.modal .content {
  display: block;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: var(--sage-color);
  border-radius: 6px;
  width: 80vw;
  height: 60vh;
  padding: 2rem;
}
.content h2{
  color: white;
  text-align: center;
  font-size: 3rem;
}

.modal .text-wrapper {
  flex: 1 1 40%;
  font-family: "Fredoka One", cursive;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.modal .image-wrapper {
  flex: 1 1 30%;
  max-width: 200px;
  min-width: 80px;
}
.modal .close-icon {
  flex: 0 1 30px;
  align-self: flex-start;
  cursor: pointer;
  margin-top: 2rem;
  margin-right: 2rem;
}

.modal .close-icon line {
  stroke: #9a8983;
  stroke-width: 10px;
  stroke-linecap: round;
}

.modal .close-icon:hover line {
  stroke: #ffffff;
  transition: stroke 500ms;
}

.modalcards{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  margin-top: 6rem;
}
.modalcards img{
    display: block;
    width: 100%;
  }
  .modalcards .img-wrapper{
    overflow: hidden;
    height: 200px;
    width: 200px;
  }
  .modalcard img{
    transition: transform 500ms;
  }
  .modalcard{
    position: relative;
    display: inline-block;
    transition: transform 200ms;
    overflow: hidden;
  }
  .modalcard:hover img{
    transform: scale(1.05);
  }
  .modalcard .title-wrap{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    justify-content: center;
  }
  .modalcard .title-wrap p{
    margin: 3rem;
    font-size: 24px;
    font-family: Road;
    color: white;
    transition: margin 300ms ease-in-out;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.52);
  }



img{
    display: block;
    width: 100%;
  }
  .img-wrapper{
    overflow: hidden;
    height: 250px;
    width: 250px;
  }
  .cards{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: nowrap;
    margin: 2rem 0;
    width: 100%;
    justify-content: center;
    background-color: var(--mud-color);
    padding: 5rem 1rem;
  }
  .cards img{
      display: block;
      width: 100%;
    }
    .img-wrapper{
      overflow: hidden;
      height: 250px;
      width: 250px;
    }
    .card img{
      transition: transform 500ms;
    }
    .card{
      position: relative;
      display: inline-block;
      transition: transform 200ms;
      overflow: hidden;
    }
    .card:hover img{
      transform: scale(1.05);
    }
    .card .title-wrap{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      
      display: flex;
      justify-content: center;
    }
    .title-wrap p{
      margin: 3rem;
      font-size: 48px;
      font-family: Road;
      color: white;
      transition: margin 300ms ease-in-out;
      text-shadow: 2px 2px 2px rgba(0,0,0,0.52);
    }
    .card:hover .title-wrap{
      background-color: rgba(0, 0, 0, 0.2);
    }
    .card:hover .title-wrap p{
      transition: color 200ms ease-in-out;
      margin-left: 1rem;
      text-decoration: underline white;
      transition: margin 300ms ease-in-out;
    }
    .card .desc-wrap{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 2rem;
      margin-top: 8rem;
  
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear, margin 500ms ease;
    }
    .card:hover .desc-wrap{
      visibility: visible;
      opacity:1;
      margin-top: 6rem;
    }
    .card .desc-wrap p{
      color: white;
      font-family: Geo;
    }
    .aboutMain{
      margin: 8rem 0;
    }
    .aboutMain h1{
      font-size: 48px;
      color:var(--river-color);
      font-family: Road;
      text-align: center;
    }

    .aboutMain h2{
      color: var(--moss-color);
      text-align: center;
      line-height: 100%;
    }
    
    .aboutUs {
      display: flex;
      flex-direction: row;
      gap: 5rem;
      min-width: 85vw;
      padding: 2rem 1rem;
      background-color: #C6C7BC;
      border-radius: 5rem;
    }
  
    .aboutUs .picture{
      flex: 0 1 30%;
      justify-self: start;
      width: 10rem;
      margin-top: 5rem;
    }
    .aboutMain .resume {
      flex: 1 1 50%;
      flex-grow: 20;
      padding: 2rem;
      border-radius: 24px;
      font-family: Road;
    }
    .social{
      display:flex;
      flex-direction: row;
      justify-content: end;
      width:100%;
      gap: 2rem;
    }
    .svghover{
      filter: invert(30%)
    }
    .svghover:hover{
      filter: invert(100%)
    }

  .formMain{
    margin: 8rem 0;
    text-align: center;
  }
  .formMain h1{
    font-size: 48px;
    color:var(--river-color);
    font-family: Road;
  }
  .formnav{
    background-color: var(--sage-color);
  }

  .form {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    min-width: 85vw;
    padding: 0;
  }

  .form .picture{
    flex: 1 1 30%;
    justify-self: start;
    width: 10rem;
    margin-top: 5rem;
  }
  
  .form .input {
    flex: 1 1 50%;
    padding: 2rem;
    color: white;
    background-color: var(--moss-color);
    border-radius: 24px;
    font-family: Road;
  }
  
  form {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 0.5rem;
    align-items: center;
  }
  
  fieldset {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.8rem;
  
    border: none;
    margin: 0;
    padding: 0;
  }
  
  form > input {
    margin: 0.5rem 0;
    border: none;
    border-radius: 4px;
  }
  form > textarea{
    border-radius: 8px;
  }

  form > label {
    justify-self: end;
  }
  label[for="toggle"]{
    grid-column-start: 1;
  }

  label[for="message"] {
    justify-self: center;
  }

  fieldset,
  label[for="message"],
  textarea,
  button,
  input[type="checkbox"] {
    grid-column-start: 2;
  }
  button {
    justify-self: start;
  }
  
  legend {
    grid-column: 1 / span 2;
    margin-bottom: 1rem;
  }
  
  button {
    justify-self: center;
  }
  input,
  textarea{
    transition: transform 200ms ease;
    color: var(--default-color);
  }
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="tel"]:hover,
  textarea:hover {
    transform: scale(1.005)
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px;
    outline-color: var(--moss-color);
    transform: scale(1.005)
  } 
  
  .toggle{
    margin: 5px 40px;
  position: relative;
  width: 77px;
  user-select: none;
  }
  
  
.toggle-checkbox{
  position: absolute;
  left: -9999px;
}
  
.toggle-label
{
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 18px;
}
  

.toggle-inner{
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
  
.toggle-inner:before, .toggle-inner:after
{
  display: block;
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  font-weight: 600;
}
  

.toggle-inner:before{
  content: "Yes";
  padding-right: 10px;
  background-color: var(--river-color);
  color: #FFFFFF;

}
.toggle-inner:after{
  content: "No";
  padding-right: 13px;
  background-color: var(--sage-color);
  color: white;
  text-align: right;
}
  

.toggle-switch{
  display: block;
  width: 27px;
  height: 27px;
  margin: 5px;
  background: #FFFFFF;
  position: absolute;
  bottom: -2px;
  right: 40px;
  border-radius: 50%;
  transition: all 0.3s ease-in 0s;
}
  

.toggle-checkbox:checked + .toggle-label .toggle-inner{
  margin-left: 0
}
  

.toggle-checkbox:checked + .toggle-label .toggle-switch{
  right: 0px
}

.open{
  display: block !important;
}
.referral{
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.menu-icon {
  display: none;
  height: 52px;
  width: 60px;
  padding-top: 22px;

  position: absolute;
  right: 2rem;
  top: 1rem;
}

.menu-icon div {
  height: 6px;
  background-color: white;
  width: 100%;
  border-radius: 3px;
  position: relative;
  transition: transform 500ms ease-in-out;
}

.menu-icon div::before,
.menu-icon div::after {
  content: "";
  height: 6px;
  width: 100%;
  display: block;
  border-radius: 3px;
  background-color: white;
  position: absolute;
  transition: transform 300ms ease-in-out;
}

.menu-icon div::before {
  transform: translateY(-16px);
}
.menu-icon div::after {
  transform: translateY(16px);
}

.close .menu-icon div,
.close .menu-icon div::before,
.close .menu-icon div::after {
  background-color: white;
}

.close .menu-icon div {
  background-color: transparent;
}
.close .menu-icon div::before {
  transform: rotate(225deg);
}
.close .menu-icon div::after {
  transform: rotate(-225deg);
}
.header-wrapper{
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 1rem;
}
header {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.25rem;
  font-family: Geo;
  line-height: 1.3;
}
nav {
  background-color: transparent;
  padding: .5rem;
}
.main-menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.main-menu li a {
  display: block;
  color: white;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  margin: 0 2.5rem;
  padding: .25rem;
  font-size: 2.5rem;
  white-space: nowrap;
  user-select: none;
}
nav a::after {
    content: "";
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transform: scale(0);
    transition: transform 400ms ease;
    transform-origin: right;
  }
  
  nav a.active:hover::after {
  transform: scale(1);
  transform-origin: left;
  }

  .homebutton{
    font-size: 3rem !important;
  }

  
@media (max-width: 900px) {
  .about{
    flex-wrap: wrap;
    gap: 0;
    margin-bottom: 0;
  }
  .about img{
    aspect-ratio: unset;
    object-fit: contain;
    width:100%;
    height: auto;
    margin-bottom: 1rem;
  }
  .cards {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .modal .content{
    height: 80vh
  }
  .modalcards {
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 4rem;
  }
  .img-wrapper {
    height: 280px;
    width: 280px;
  }
  .card:hover .title-wrap p{
    margin-left: 3rem;
    transition:none;
    text-decoration: none;
  }
  .card:hover .title-wrap{
    background-color: transparent;
  }
  .card:hover .title-wrap p{
    text-decoration: none;
    transition: none;
  }
  .card:hover .desc-wrap{
    visibility: hidden;
    opacity:0;
    margin-top: 8rem;
  }
  .card:hover img{
    transform: scale(1);
  }
  .modalcard:hover img{
    transform: scale(1);
  }
 
  form {
    grid-template-columns: unset;
    grid-gap: 1rem;
    align-items: unset;
  }
  form > input {
    margin: unset;
  }

  form > label {
    justify-self: unset;
  }

  label[for="message"] {
    justify-self: unset;
  }
  fieldset,
  label[for="message"],
  textarea,
  button {
    grid-column-start: unset;
  }
  button {
    justify-self: unset;
  }
  .aboutUs{
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    background-color: transparent;
  }
  .aboutMain .picture{
    flex: 0 1 22rem;
    margin: 0;
  }
  .aboutMain .resume{
    background-color: #C6C7BC;
    border-radius: 5rem;
  }
  .form{
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  .form .picture{
    flex: 0 1 22rem;
    order: 1;
    margin: 0;
  }
  .toggle{
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 500px){
  .menu-icon{
    display: block;
    z-index: 2;
  }
  .close .menu-icon{
    position: fixed;
  }
  img.logo{
    height: 75%;
  }
  .main-menu {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: var(--river-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    

  transform: translateX(-100vw);
  transition: transform 400ms ease;
  z-index: 1;
  }
  .close .main-menu{
    transform: translateX(0);
  }
  nav a.active:hover::after {
    transform: scale(0);
  }
  nav ul li:nth-child(2){
    order:-1;
  }
  .homebutton{
    font-size: 2.5rem !important;
  }
  .formnav{
    background-color: transparent;
  }
  .formMain{
    margin: 0;
  }
  .aboutMain{
    margin: 0;
  }
}